*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #dcdee0;
    color: #252525;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ------------------Navbar Start-------------------- */

nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 1000;
    top: 0;
}

.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}

.nav-left .logo{
    width: 40px;
    margin: 5px 8px;
    cursor: pointer;
}

.nav-left .logo img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.nav-left .search-box{
    width: 230px;
    height: 40px;
    background: #e0dcdc;
    border-radius: 25px;
    border: 2px solid #dcdee0;
    margin-left: 4px;
    padding: 0 9px;
    position: relative;
    transition: width 0.3s ease-in-out; /* Smooth animation */
}

/* Expand search box when input is focused */
.search-box:has(input:focus) {
    width: 300px;
}

.nav-left .search-box i{
    color: #919191;
    margin-left: 5px;
    line-height: 36px;
}

.nav-left .search-box input{
    background: transparent;
    outline: none;
    border: 0;
    margin-left: 4px;
    width: 150px;
    font-size: 14px;
}

.nav-center {
    display: flex;
    position: relative; /* مهم لإبقاء الخط المتحرك داخله */
}

.nav-center i {
    width: 110px;
    text-align: center;
    border-radius: 10px;
    margin: 0 25px;
    font-size: 22px;
    padding: 13px 40px;
    color: #646262;
    cursor: pointer;
    position: relative;
}

/* اللون الافتراضي للأيقونة النشطة */
.nav-center i.active {
    color: #3a559f;
}

/* الخط المتحرك */
.nav-center::after {
    content: "";
    position: absolute;
    bottom: -6px;
    height: 2px;
    background: #3a559f;
    width: 90px;
    left: var(--underline-position, 0);
    transition: all 0.3s ease-in-out;
}



.nav-center i:hover{
    background: #dcdee0;
    color: #252525;
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-right img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    line-height: 45px;
    margin-right: 16px;
    margin-left: 8px;
    cursor: pointer;
}

.nav-right i{
    background: #dcdee0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 8px;
    padding: 10px;
    font-size: 22px;
}

.nav-right i:hover{
    background:#b9b7b7;
}
/* ------------------Navbar End-------------------- */


/* ------------------drop down menu start-------------------- */

.card-menu-wrap{
    position: absolute;
    top: 100%;
    right: 20px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.open-menu{
    max-height: 400px;
}

.card-menu{
    width: 330px;
    background: #fff;
    border-radius: 7px;
    padding: 14px;

}

.profile-menu {
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.3),1px 5px 12px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 12px 0;
    margin-bottom: 15px;
}

.profile-menu p{
    font-size: 16px;
    font-weight: 550;
}

.card-menu-items{
    display: flex;
    align-items: center;
    text-decoration: none;
    background: #fff;
    padding: 5px 0;
    color: #252525;
}

.card-menu-items:hover{
    background: #dcdee0;
}

.card-menu-items p{
    width: 100%;
    font-size: 15px;
}

.card-menu-items span{
    font-size: 22px;
}

.card-menu-items img{
    width: 40px;
    background: #dcdee0;
    padding: 8px;
    margin-right: 15px;
    border-radius: 50%;
}


/* ------------------drop down menu End-------------------- */

/* ------------------main Section Start-------------------- */
/* left part start */
.main{
    display: flex;
    margin-top: 60px;
}

.main-left{
    width: 24%;
    height: 92vh;
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
    background: #dcdee0; /* Just to make it visible */
}

.main-left::-webkit-scrollbar {
    width: 8px;
}


.main-left::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #c8c6c6;
}

.main-left:hover::-webkit-scrollbar-thumb{
    background: #b3b2b2;
}

.img{
    display: flex;
    height: 40px;
    margin: 5px 10px;
    cursor: pointer;
}
.img:hover{
    background: #dcdee0;
    border-radius: 7px;
}

.img p{
    padding: 14px 0;
    font-size: 14px;
    font-weight: 600;
    color: #252525;
    margin-left: 10px;
}

.img img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px 12px;
    object-position: center;
}
.img:nth-child(7) img {
    filter: grayscale(100%);
}
.img:nth-child(6) img {
    object-fit:contain;
}
.img:nth-last-of-type(1) img,
.img:nth-last-of-type(2) img{
    object-fit: contain;
}

.main-left hr{
    border: 0;
    background: #ccc;
    width: 100%;
    height: 1px;
    margin: 10px 0;
}

.shortcuts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 12px;
}
.shortcuts a{
    text-decoration: none;
}

.shortcuts p{
    font-size: 18px;
}

/* left part end */

/* right part start */

.main-right{
    width: 23%;
    height: 92vh;
    margin-right: 10px;
    margin-left:76% ;
    padding: 12px 0;
    overflow: hidden;
    overflow-y: scroll;
}

.main-right::-webkit-scrollbar {
    width: 8px;
}


.main-right::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #c8c6c6;
}

.main-right:hover::-webkit-scrollbar-thumb{
    background: #b3b2b2;
}

h4{
    color: #8f8e8e;
    font-size: 16px;
}
.sponsored-link{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 7px;
    padding: 5px 0;
}
.sponsored-link img{
    width: 90px;
    height: 80px;
    border-radius: 8px;
    margin: 6px 3px;
    object-fit: cover;
}
.sponsored-link p{
    padding: 14px 0;
    font-size: 14px;
    font-weight: 500;
    color: #252525;
    margin-left: 10px;
}

.sponsored-link p a{
    text-decoration: none;
    font-size: 12px;
    color: #646262;
}
hr{
    width: 100%;
    height: 1px;
    background: none;
    margin: 16px 0;
    color: #8f8e8e;
}

.page-links{
    display: flex;
    align-items: center;
    height: 40px;
    margin: 10px 0;
    cursor: pointer;
}
.page-links:hover,
.page-links-item:hover,
.sponsored-link:hover{
    background: #d2d1d1;
    border-radius: 7px;
}
.page-links p{
    padding: 14px 0;
    font-size: 15px;
    font-weight: 550;
    color: #252525;
    margin-left: 15px;
}
.page-links img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.page-links-item{
    display: flex;
    align-items: center;
    height: 20px;
    margin: 5px 0;
    cursor: pointer;
}

.page-links-item img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 11%;
    object-fit: cover;
}

.page-links-item p{
    font-size: 13px;
    margin-left: 10px;
    font-weight: 550;
}

.buttons{
    margin-left: 20px;
}

.buttons .confirm{
    padding: 7px 18px;
    border-radius: 8px;
    background: #3a559f;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 16px;
    font-weight: 550;
    transition: transform 0.3s ease; /* Optional for smooth effect */
}
.buttons .confirm:hover,
.buttons .delete:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; /* Optional for smooth effect */
}

.buttons .delete{
    padding: 7px 25px;
    border-radius: 8px;
    background: #a5a9a5;
    color: black;
    border: 0;
    outline: none;
    font-size: 16px;
    font-weight: 550;
    transition: transform 0.3s ease; /* Optional for smooth effect */
}
.online{
    position: relative;
}

.online::after ,.circle::after{
    content: '';
    position: absolute;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    background-color: #1bf70b;
    bottom: 0;
    right: 0;
}

.contact-section .search{
    display: flex;
    align-items: center;
}
.contact-section .search img {
    width: 17px;
    height: 17px;
    border-radius: 30%;
    /* background: #a5a9a5; */
    border: none;
    color: #919191;
    margin: 0 .3rem;            /* Adds spacing to the left */
    cursor: pointer;
}

.contact-section .search h4{
    flex-grow: 1;/*take more space if available*/
}
.contact-section .search img:last-of-type {
    filter: brightness(0);        /* Makes image black */
}
.contact-section img:hover {
    transform: scale(1.05) translateY(-5px);
    transition: transform 0.3s ease;
}


/* right part end */

/* top center start */

.main-center{
    width: 45%;
    margin-left: 27%;
    height: auto;
    position: absolute;
    border-radius: 10px;
    padding: 20px 20px 0 20px;
}

/* .top-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    gap: 8px; 
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.my-story ,.friends-story{
    width: 90%;
    height: 240px;
    margin: 0 4px;
    overflow: hidden;
    box-shadow: 2.5px 3px 7px rgb(0 0 0 / 53%);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
} */

.top-box {
    display: grid;
    grid-auto-flow: column; 
    grid-auto-columns: minmax(100px, 1fr); 
    overflow-x: auto;
    overflow-y: hidden;
    gap: 8px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    scrollbar-width: none; 
}
.top-box::-webkit-scrollbar {
    display: none; 
}

.my-story, .friends-story {
    width: 95%; 
    height: 240px;
    overflow: hidden;
    box-shadow: 2.5px 3px 7px rgb(0 0 0 / 53%);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    margin: 0;
}


.my-story img ,.friends-story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.upload {
    position: absolute;
    bottom: 0px;  /* adjust this value to fine-tune overlap */
    left: 50%;
    transform: translateX(-50%);
    width: 103%;
    height: 20%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upload img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top:-15px;
    background: white;
}
.upload img:hover {
    scale: 1.1;
    transition: 0.2s ease;
    cursor: pointer;
}
.upload p {
    font-size: 14px;
    font-weight: bold;
    color: #1877f2;
    margin-top: 20px;
    text-align: center;
    position: absolute;
    top: -1px;
}

.friend-profile{
    position: relative;
    bottom: 240px;
    margin-left: 14px;
}
.friend-profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #1877f2;
}
.friend-name{
    position: relative;
    bottom: 80px;
    padding: 0 9px;
}
.friend-name p{
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}

.circle::after{
 bottom: 1.5rem !important;
 left: 1.5rem !important;
}

/* center post start */
.create-post{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    margin: 10px 0;
    overflow: hidden;
}
.create-post .ptop{
    display: flex;
    align-items: center;
}
.create-post .ptop img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.ptop input{
    width:90%;
    padding: 10px;
    margin-left: 20px;
    border: 0;
    outline: none;
    background: #dcdee0;
    border-radius: 30px;
    font-size: 17px;
}
.ptop input:hover{
    background: #b9b7b7;
    cursor: pointer;
}
.pbottom{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px auto;
}
.pbottom .post-icon{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 7px 25px;
    cursor: pointer;
}

.pbottom .post-icon:hover{
    background: #dcdee0;
    border-radius: 8px;
}

.pbottom .post-icon i.red{
    font-size: 20px;
    color: red;
    margin-right: .8rem;
}
.pbottom .post-icon i.green{
    font-size: 20px;
    color: green;
    margin-right: .8rem;
}
.pbottom .post-icon i.yellow{
    font-size: 20px;
    color: rgb(219, 219, 3);
    margin-right: .8rem;
}

.friends-post{
    margin:10px 0;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.friends-ptop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.friends-ptop .img-name{
    display: flex;
    align-items: center;
}

.friends-ptop .img-name img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 8px;
    cursor: pointer;
}

.friends-name{
    font-weight: 600;
    cursor: pointer;
}
.friends-name:hover{
    text-decoration: underline;
}
.friends-name .time{
    font-size: 13px;
    color: #919191;
    margin: 3px 0;
}

.friends-name .time i{
    font-size: 10px;

}



.friends-ptop .menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.friends-ptop .menu:hover{
    background: #efefef;
    cursor: pointer;
}

.friends-post img{
    width: 100%;
    height: 28rem;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.friends-post .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.friends-post .post-icons{
    display: flex;
}

.friends-post .post-icons img{
    width: 20px;
    height: 20px;
    margin-left: 1rem;
}

.info .comment{
    display: flex;
    align-items: center;
}

.info .comment p{
    padding: 0 12px;
    font-size: 15px;
    color: #919191;
}
.friends-post hr{
    height: 1px;
}

.info .post-icons p{
margin-left: .5rem;
}

.friends-post .like{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.friends-post .like .like-icon{
    display: flex;
    align-items: center;
}

.friends-post .like-icon i{
    font-size: 20px;
    margin-right: 8px;
    color: #919191;
}



.comment-wrapper{
    display: flex;
    align-items: center;
}

.comment-wrapper img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 15px;
    margin-bottom: .5rem;
}

.comment-wrapper .circle_2{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #27cc37;
    border: 1px solid #fff;
    position: relative;
    top: 12px;
    right: 20px;
}


.comment-wrapper .comment-search{
    width: 90%;
    padding: 5px 15px;
    background: #dcdee0;
    border-radius: 30px;
}

.comment-search input{
    width: 85%;
    height: 30px;
    background: #d2d1d1;
    border-radius: 30px;
    border: none;
    outline: none;
    padding-left: 1rem;
}

.comment-search i{
    padding: 0 5px;
    color: #919191;
}

.circle_2::after{
    content: '';
    position: absolute;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    background-color: #1bf70b;
    bottom: 0;
    right: 0;
}



/* center post end */



/* top center end */
/* ------------------Main Section End-------------------- */



  
  /* On mobile, stack vertically */
@media (max-width: 768px) {
.main-left{
    display: none;
}

.main-right{
    display: none;
}
.main-center{
    width: 100%;
    margin: 0;
}

.top-box {
    grid-auto-columns: minmax(50px, 1fr);
    gap: 2px;
    padding: 10px;
}
.friends-story:last-child{
    display: none;
}
.my-story, .friends-story {
    width: 95%;
    height: 200px;
}
.friend-profile {
    bottom: 200px;
    margin-left: 50px;
}

.pbottom {
    width: 93%;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px 1px;
}
.pbottom .post-icon {
    padding: 1px 5px;
    font-size: 10px;
    white-space: nowrap;         /* Prevent line break */
    overflow: hidden;            /* Hide overflow if it's too long */
    text-overflow: ellipsis;
}

.pbottom .post-icon p{
    font-size: 10px;
}
.pbottom .post-icon i{
    font-size: 12px !important;
    margin-right: 5px !important;
}
.ptop input {
    font-size: 12px;
}
.friends-post img {
    height: 20rem;
}

.comment-wrapper img:last-of-type {
    height: 2rem !important;
}


.info .post-icons p {
    font-size: 7px;
}
.comment-search input{
    width: 70%;
}
.friends-post .like {
    font-size: 13px;
}
.friends-post .like-icon i {
font-size: 13px;
}
.friends-post .post-icons img {
    width: 12px;
    height: 12px;
    margin: 0 5px;
}
.info .comment p {
font-size: 9px;

}


.nav-left .search-box {
    display: none;
}
.nav-left .logo {
    width: 30px;
    margin: 0;
}


.nav-center i {
margin: 2px;
padding: 12px 0;
width: 5rem;
}
.nav-center i:nth-last-of-type(1),
.nav-center i:nth-last-of-type(2) {
    display: none;
}
.nav-right i:nth-last-of-type(1), 
.nav-right i:nth-last-of-type(2),
.nav-right i:nth-last-of-type(3){
    display: none !important;
}

  }